/* WHATSAPP ICON */

.wp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 80px;
    right: 15px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}

.fa-whatsapp {
    font-size: 40px;
}

.wp-float:hover {
    background-color: #76e7a0;
    color: #fff;
}

.top-margin {
    margin-top: 60px;
}