/* WHATSAPP ICON */

.wp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    bottom: 80px;
    right: 15px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
}

.fa-whatsapp {
    font-size: 40px;
}

.wp-float:hover {
    background-color: #76e7a0;
    color: #fff;
}

.top-margin {
    margin-top: 60px;
}

/* HERO BACKGROUND */

.hero-back {
    background-image: url(../../assets/img/hero-wide.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

/* HERO MOBILE */
@media (max-width: 540px) {
    .hero-img {
        height: 250px;
    }
    .hero-back {
        background-image: url(../../assets/img/hero-tall.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    }

/* CONTACTO */
.contacto {
    margin-top: 80px;
}

/*--------------------------------------------------------------
# Alt Features Section
--------------------------------------------------------------*/
.alt-features .icon-box {
    display: flex;
    align-items: center;
}

.alt-features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.alt-features .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: var(--accent-color);
    margin-right: 15px;
}

.alt-features .icon-box p {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-bottom: 0;
}

/* CENTRAR EN MOBILE */
@media (max-width: 768px) {
    .alt-features .centrar {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    }